- f.inputs do
  %li.select
    = f.label :main_argument_name, "Argument principal"
    = f.text_field :main_argument_name
  %li.select
    = f.label :aux_argument_name, "Argument secondaire"
    = f.text_field :aux_argument_name
