.fields
  - f.inputs do
    %li.select
      = f.text_field_with_auto_complete :author_name,
        {:size => 15},
        {:url => authors_path(:format => :js),
         :method => :get,
         :skip_style => true,
         :param_name => 'search'}
      = link_to_remove_fields "Enlever cet autheur", f
%hr/
