$vigitox_back = #FFCC33
$vigitox_front = #0078FF
$primary_color = #FFF

body
  :background-color = !primary_color
  :font
    :family Verdana, Helvetica, Arial
    :size 14px

a
  :color #0000FF
  img
    :border none

.clear
  :clear both
  :height 0
  :overflow hidden

#corner, #banner, #menu, #container
  :float left

#corner, #menu
  :width 18%

#banner, #container
  :width 75%
  :overflow auto

#corner, #banner, #menu
  :height 100%

#corner
  :background-color = $vigitox_front

#banner, #menu
  :background-color = $vigitox_back

#banner h1
  :color = $vigitox_front
  a
    :color = $vigitox_front


#header
  :height 100px
  :padding 0
  :margin 0

#container, #banner
  :padding-left 2em

#flash_notice,
#flash_error
  :padding 5px 8px
  :margin 10px 0

#flash_notice
  :background-color #CFC
  :border solid 1px #6C6

#flash_error
  :background-color #FCC
  :border solid 1px #C66

.fieldWithErrors
  :display inline

#errorExplanation
  :width 400px
  :border 2px solid #CF0000
  :padding 0
  :padding-bottom 12px
  :margin-bottom 20px
  :background-color #f0f0f0
  h2
    :text-align left
    :padding 5px 5px 5px 15px
    :margin 0
    :font
      :weight bold
      :size 12px
    :background-color #c00
    :color #fff
  p
    :color #333
    :margin-bottom 0
    :padding 8px
  ul
    :margin 2px 24px
    li
      :font-size 12px
      :list-style disc

td.buttons
  :padding-left 1em

td.right
  :text-align right

.even
  :background-color #ddd

.odd
  :background-color white

#revue, #article
  margin: 1em 0
  :padding 1em
  :border 1px solid black
  h2, h3
    :float left
    :margin-top 0 1em

#revue
  background: #EEE

ul.articles
  padding: 0
  margin: 0
  :list-style none

  li .handle
    :color #777
    :cursor move
    :font-size 12px

span.title
  :font-weight bold
  :font-size 0.85em

#menu ul
  :list-style none

#banner a
  :text-decoration none

#container h1
  :float left

ul.inline, ul.links, ul.actions
  margin: 0
  padding: 0
  list-style: none
  li
    display: inline

ul.links
  margin-left: 0

ul.inline, ul.actions
  float: left
  clear: right
  li
    &:last-child:after
      content: ""

ul.actions li
  &:after
    content: " |"

ul.inline li
  &:after
    content: ", "

ul.actions
  margin-left: 0.5em
  padding-left: 0.5em
  li
    padding-left: 0 0.5em

span.label
  margin-right: 0.5em
  font-weight: bold
  text-align: right
  display: block
  width: 8em
  clear: left
  float: left

ul.revues
  :list-style none

// this is to temp replace formtastic
fieldset
  ol, ul, p
    line-height: 1.5

form, fieldset, legend
  border: 0
  padding: 0
  margin: 0

legend
  font-size: 1.2em
  line-height: 1.8
  padding-bottom: 0.5em

form ol, form ul
  list-style: none
  margin: 0
  padding: 0

form li
  clear: both
  margin: 0 0 0.75em
  padding: 0
label
  display: block
  float: left
  line-height: 1.6
  margin-right: 10px
  text-align: right
  width: 140px
  &:after
    content: ' : '

textarea
  line-height: 1.3em
  padding: 0, 3px

input, textarea
  background: #ddd
  font: 1em Arial, Helvetica, sans-serif
  padding: 1px 3px
  &:focus
    background: #fff

.actions
  input
    margin-top: 10px
    margin-left: 150px

table.list, #article table
  border-collapse: collapse
  th
    border-bottom: 1px solid black
  td
    vertical-align: top
    padding-left: 0.3em
    padding-right: 0.3em

#article table
  td
    border-bottom: 1px solid black

.odd
  background: #FFF
.even
  background: #EEE

.contenu
  margin-top: 1em

.pdf_link
  padding: 1em
