// from http://colorschemedesigner.com/#3O31TsZ--w0w0 

// Primary Color:

$primary_color_a: #3265FF
$primary_color_b: #4C69BF
$primary_color_c: #1036A6
$primary_color_d: #658CFF
$primary_color_e: #8EABFF

// Secondary Color A:

$secondary_color_aa: #FFDB18
$secondary_color_ab: #BFAB3D
$secondary_color_ac: #A68D08
$secondary_color_ad: #FFE452
$secondary_color_ae: #FFEB80

// Secondary Color B:

$secondary_color_ba: #FF8718
$secondary_color_bb: #BF7C3D
$secondary_color_bc: #A65408
$secondary_color_bd: #FFA552
$secondary_color_be: #FFBD80

$global_background: #FFF

$page_block: 990px
$left_block: 126px
$right_block: $page_block - $left_block - 18px

$front: $primary_color_a
$back: $secondary_color_aa
// new stuff here


/////////////////////
// resetting css

body, p, h1, h2, h3, h4, h5, h6, ul, li, form
  margin: 9px
  padding: 0
  line-height: 18px

h2
  line-height: 36px

p, h1, h2, h3, h4, h5, h6
  margin-bottom: 18px

// dimensions and blocks
#page
  display: block
  width: $page_block
  margin: 0px auto

#header
  height: 90px
  width: 100%
  #corner
    height: 90px
    width: $left_block
    float: left
  #banner
    height: 90px
    width: $right_block
    float: left
    section#search
      margin-top: 48px
      margin-left: 550px
      clear: both

#user_nav
  float: right
  margin: 18px 18px 0 0
  padding: 0
  text-align: right
#footer
  height: 36px
  width: 100%

#middle
  width: 100%
  float: left
  #sidebar
    height: 600px
    width: $left_block
    float: left
  #main
    padding: 18px 0 18px 18px
    width: $right_block - 18px
    float: left

.clear
  clear: both
  height: 0
  overflow: hidden


#site_header
  float: left
  margin: 18px 0 0 18px

// colors
#banner
  h1
    color: $primary_color_c
    a
      text-decoration: none

a
  &:link, &:visited
    text-decoration: none
    color: $primary_color_c
  &:hover
    text-decoration: underline
  img
    border: none

#page
  background-color: $back
#corner
  background-color: $front
#sidebar
  background: #fff url('../images/sidebar_back.png') repeat-x
#banner, #sidebar
  background-color: $back
#main
  background-color: $global_background

// fonts
body
  font:
    family: Verdana, Helvetica, Arial, sans-serif
    size: 14px
//

// common

acronym
  border-bottom: 1px dotted black

span.label
  margin-right: 0.5em
  font-weight: bold
  text-align: right
  display: block
  width: 8em
  clear: left
  float: left

.odd
  background: #FFF
.even
  background: #EEE

.pdf_link
  padding-top: 9px

table.list
  border-collapse: collapse
  td:last-child
    border-left: 1px solid black
  th, tr:last-child td
    border-bottom: 1px solid black
  td
    vertical-align: top
    padding-left: 0.3em
    padding-right: 0.3em

//sidebar
#sidebar
  ul#links
    margin: 0
    margin-top: 9px
    padding: 0
    list-style: none
    li
      margin: 0
      padding: 0
      a
        text-decoration: none
        padding-left: 9px
        float: left
        width: $left_block - 9px
        &:hover
          background: $secondary_color_ae
      &.plus
        a
          padding-left: 18px
          width: $left_block - 18px
          &:before
            content: "+ "
// flash

#flash_notice, #flash_error
  width: $right_block - 36px
  padding: 9px
  margin: 0

#flash_notice
  background-color: #CFC
  border: solid 1px #6C6

#flash_error
  background-color: #FCC
  border: solid 1px #C66

.fieldWithErrors
  display: inline

#errorExplanation
  width: 400px
  border: 2px solid #CF0000
  padding: 0
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0
  h2
    text-align: left
    padding: 5px 5px 5px 15px
    margin: 0
    font
      weight: bold
      size: 12px
    background-color: #c00
    color: #fff
  p
    color: #333
    margin-bottom: 0
    padding: 8px
  ul
    margin: 2px 24px
    li
      font-size: 12px
      list-style: disc

// main
#main
  h1
    float: left

// revues and articles

#revue h3, h1.revue
  a
    text-decoration: none
    &:hover
      color: $primary_color_c
      background-color: $secondary_color_be

#revue, #article
  width: $right_block - 36px
  margin-top: 1em
  border-bottom: 4px solid $secondary_color_be 

#article
  border-top: 4px solid $secondary_color_be 

#revue
  h2, h3
    float: left
    margin: 9px

ol.articles
  padding: 0
  margin: 0
  margin-bottom: 1em
  margin-left: 1em
  list-style-position: inside
  li
    margin: 0
    .handle
      color: #777
      cursor: move
      font-size: 12px

span.title
  :font-weight bold
  :font-size 0.85em

#article table
  td
    border-bottom: 1px solid black

.contenu
  margin-top: 1em

#editorial
  font-size: 0.8em
  margin-left: 1em

.redacteur
  margin-top: 0
  float: right

//lists

ul.inline, ul.links, ul.actions
  margin: 0
  padding: 0
  list-style: none
  li
    display: inline

ul.links
  margin-left: 0

ul.inline
  display: inline
  li
    &:last-child:after
      content: ""

ul.actions
  margin: 0
  padding: 0
  float: right
  li
    margin: 0
    &:last-child:after
      content: ""
    &:after
      content: " |"

ul.inline li
  &:after
    content: ", "

ul.actions
  margin-left: 0.5em
  padding-left: 0.5em
  li
    padding-left: 0 0.5em

// this is to temp replace formtastic
fieldset
  ol, ul, p
    line-height: 1.5

form, fieldset, legend
  border: 0
  padding: 0
  margin: 0

legend
  font-size: 1.2em
  line-height: 1.8
  padding-bottom: 0.5em

form ol, form ul
  list-style: none
  margin: 0
  padding: 0

//form li
  //clear: both
  //margin: 0 0 0.75em
  //padding: 0
label
  display: block
  float: left
  line-height: 1.6
  margin-right: 10px
  text-align: right
  width: 140px
  &:after
    content: ' : '

textarea
  line-height: 1.3em
  padding: 0, 3px

input, textarea
  background: #ddd
  font: 1em Arial, Helvetica, sans-serif
  padding: 1px 3px
  &:focus
    background: #fff

.actions
  input
    margin-top: 10px
    margin-left: 150px
