body {
  background-color: white;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

a {
  color: #0000FF; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#corner, #banner, #menu, #container {
  float: left; }

#corner, #menu {
  width: 18%; }

#banner, #container {
  width: 75%;
  overflow: auto; }

#corner, #banner, #menu {
  height: 100%; }

#corner {
  background-color: #0078ff; }

#banner, #menu {
  background-color: #ffcc33; }

#banner h1 {
  color: #0078ff; }

#header {
  height: 100px;
  padding: 0;
  margin: 0; }

#container, #banner {
  padding-left: 2em; }

#flash_notice,
#flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

td.buttons {
  padding-left: 1em; }

td.right {
  text-align: right; }

.even {
  background-color: #ddd; }

.odd {
  background-color: white; }

#revue {
  padding: 1em;
  border: 1px solid black; }
  #revue .actions {
    float: right; }
  #revue h2 {
    float: left;
    margin-top: 0; }

ul.articles {
  padding: 0 1em;
  list-style: none; }
  ul.articles li .handle {
    color: #777;
    cursor: move;
    font-size: 12px; }

span.tags {
  margin-left: 20em; }

span.small, span.tags {
  font-size: 0.8em; }

#menu ul {
  padding: 0 1em;
  list-style: none; }

#banner a {
  text-decoration: none; }

#container h1 {
  float: left; }

ul.actions {
  padding: 0;
  float: left;
  list-style: none; }
  ul.actions li {
    padding-left: 1em;
    float: left; }
