body {
  background-color: white;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

a {
  color: blue; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#corner, #banner, #menu, #container {
  float: left; }

#corner, #menu {
  width: 18%; }

#banner, #container {
  width: 75%;
  overflow: auto; }

#corner, #banner, #menu {
  height: 100%; }

#corner {
  background-color: #0078ff; }

#banner, #menu {
  background-color: #ffcc33; }

#banner h1 {
  color: #0078ff; }

#header {
  height: 100px;
  padding: 0;
  margin: 0; }

#container, #banner {
  padding-left: 2em; }

#flash_notice,
#flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #cc0000;
    color: white; }
  #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

td.buttons {
  padding-left: 1em; }

td.right {
  text-align: right; }

.even {
  background-color: #dddddd; }

.odd {
  background-color: white; }

#revue, #article {
  padding: 1em;
  border: 1px solid black; }
  #revue h2, #revue h3, #article h2, #article h3 {
    float: left;
    margin-top: 0; }

ul.articles {
  padding: 0 1em;
  list-style: none; }
  ul.articles li .handle {
    color: #777777;
    cursor: move;
    font-size: 12px; }

span.title {
  font-weight: bold;
  font-size: 0.85em; }

#menu ul {
  padding: 0 1em;
  list-style: none; }

#banner a {
  text-decoration: none; }

#container h1 {
  float: left; }

ul.actions {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none; }
  ul.actions li {
    padding-left: 1em;
    float: left; }

ul.revues {
  list-style: none; }

fieldset ol, fieldset ul, fieldset p {
  line-height: 1.5; }

form, fieldset, legend {
  border: 0;
  padding: 0;
  margin: 0; }

legend {
  font-size: 1.2em;
  line-height: 1.8;
  padding-bottom: 0.5em; }

form ol, form ul {
  list-style: none;
  margin: 0;
  padding: 0; }

form li {
  clear: both;
  margin: 0 0 0.75em;
  padding: 0; }

label {
  display: block;
  float: left;
  line-height: 1.6;
  margin-right: 10px;
  text-align: right;
  width: 140px; }
  label:after {
    content: " : "; }

textarea {
  line-height: 1.3em;
  padding: 0, 3px; }

input, textarea {
  background: #dddddd;
  font: 1em Arial, Helvetica, sans-serif;
  padding: 1px 3px; }
  input:focus, textarea:focus {
    background: white; }

.actions input {
  margin-top: 10px;
  margin-left: 150px; }
