body, p, h1, h2, h3, h4, h5, h6, ul, li, form {
  margin: 9px;
  padding: 0;
  line-height: 18px; }

h2 {
  line-height: 36px; }

p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 18px; }

#page {
  display: block;
  width: 990px;
  margin: 0px auto; }

#header {
  height: 90px;
  width: 100%; }
  #header #corner {
    height: 90px;
    width: 126px;
    float: left; }
  #header #banner {
    height: 90px;
    width: 846px;
    float: left; }
    #header #banner section#search {
      margin-top: 48px;
      margin-left: 550px;
      clear: both; }

#user_nav {
  float: right;
  margin: 18px 18px 0 0;
  padding: 0;
  text-align: right; }

#footer {
  height: 36px;
  width: 100%; }

#middle {
  width: 100%;
  float: left; }
  #middle #sidebar {
    height: 600px;
    width: 126px;
    float: left; }
  #middle #main {
    padding: 18px 0 18px 18px;
    width: 828px;
    float: left; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#site_header {
  float: left;
  margin: 18px 0 0 18px; }

#banner h1 {
  color: #1036a6; }
  #banner h1 a {
    text-decoration: none; }

a:link, a:visited {
  text-decoration: none;
  color: #1036a6; }
a:hover {
  text-decoration: underline; }
a img {
  border: none; }

#page {
  background-color: #ffdb18; }

#corner {
  background-color: #3265ff; }

#sidebar {
  background: white url("../images/sidebar_back.png") repeat-x; }

#banner, #sidebar {
  background-color: #ffdb18; }

#main {
  background-color: white; }

body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 14px; }

acronym {
  border-bottom: 1px dotted black; }

span.label {
  margin-right: 0.5em;
  font-weight: bold;
  text-align: right;
  display: block;
  width: 8em;
  clear: left;
  float: left; }

.odd {
  background: white; }

.even {
  background: #eeeeee; }

.pdf_link {
  padding-top: 9px; }

table.list {
  border-collapse: collapse; }
  table.list td:last-child {
    border-left: 1px solid black; }
  table.list th, table.list tr:last-child td {
    border-bottom: 1px solid black; }
  table.list td {
    vertical-align: top;
    padding-left: 0.3em;
    padding-right: 0.3em; }

#sidebar ul#links {
  margin: 0;
  margin-top: 9px;
  padding: 0;
  list-style: none; }
  #sidebar ul#links li {
    margin: 0;
    padding: 0; }
    #sidebar ul#links li a {
      text-decoration: none;
      padding-left: 9px;
      float: left;
      width: 117px; }
      #sidebar ul#links li a:hover {
        background: #ffeb80; }
    #sidebar ul#links li.plus a {
      padding-left: 18px;
      width: 108px; }
      #sidebar ul#links li.plus a:before {
        content: "+ "; }

#flash_notice, #flash_error {
  width: 810px;
  padding: 9px;
  margin: 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    background-color: #cc0000;
    color: white; }
    #errorExplanation h2 font {
      weight: bold;
      size: 12px; }
  #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

#main h1 {
  float: left; }

#revue h3 a, h1.revue a {
  text-decoration: none; }
  #revue h3 a:hover, h1.revue a:hover {
    color: #1036a6;
    background-color: #ffbd80; }

#revue, #article {
  width: 810px;
  margin-top: 1em;
  border-bottom: 4px solid #ffbd80; }

#article {
  border-top: 4px solid #ffbd80; }

#revue h2, #revue h3 {
  float: left;
  margin: 9px; }

ol.articles {
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
  margin-left: 1em;
  list-style-position: inside; }
  ol.articles li {
    margin: 0; }
    ol.articles li .handle {
      color: #777777;
      cursor: move;
      font-size: 12px; }

span.title {
  font-weight: bold;
  font-size: 0.85em; }

#article table td {
  border-bottom: 1px solid black; }

.contenu {
  margin-top: 1em; }

#editorial {
  font-size: 0.8em;
  margin-left: 1em; }

.redacteur {
  margin-top: 0;
  float: right; }

ul.inline, ul.links, ul.actions {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul.inline li, ul.links li, ul.actions li {
    display: inline; }

ul.links {
  margin-left: 0; }

ul.inline {
  display: inline; }
  ul.inline li:last-child:after {
    content: ""; }

ul.actions {
  margin: 0;
  padding: 0;
  float: right; }
  ul.actions li {
    margin: 0; }
    ul.actions li:last-child:after {
      content: ""; }
    ul.actions li:after {
      content: " |"; }

ul.inline li:after {
  content: ", "; }

ul.actions {
  margin-left: 0.5em;
  padding-left: 0.5em; }
  ul.actions li {
    padding-left: 0 0.5em; }

fieldset ol, fieldset ul, fieldset p {
  line-height: 1.5; }

form, fieldset, legend {
  border: 0;
  padding: 0;
  margin: 0; }

legend {
  font-size: 1.2em;
  line-height: 1.8;
  padding-bottom: 0.5em; }

form ol, form ul {
  list-style: none;
  margin: 0;
  padding: 0; }

form li {
  clear: both;
  margin: 0 0 0.75em;
  padding: 0; }

label {
  display: block;
  float: left;
  line-height: 1.6;
  margin-right: 10px;
  text-align: right;
  width: 140px; }
  label:after {
    content: " : "; }

textarea {
  line-height: 1.3em;
  padding: 0, 3px; }

input, textarea {
  background: #dddddd;
  font: 1em Arial, Helvetica, sans-serif;
  padding: 1px 3px; }
  input:focus, textarea:focus {
    background: white; }

.actions input {
  margin-top: 10px;
  margin-left: 150px; }
