- title "Articles dont l'argument est : #{@argument.name.humanize}"

= link_to content_tag(:i, nil, class: "icon-arrow-left icon-white") + " Retour à la liste des arguments", arguments_path, class: "btn btn-primary"

- if user_signed_in?
  - actions(@argument)

- if @articles_as_main.any?
  %h3 Articles avec cet argument comme principal
  = render @articles_as_main
- else
  %h3 Pas d'articles avec cet argument comme principal

- if @articles_as_aux.any?
  %h4 Articles avec cet argument comme secondaire
  = render @articles_as_aux

- else
  %h4 Pas d'articles avec cet argument comme secondaire
