- title "Articles par : #{@author.nom_and_prenom}"

= link_to "Retour à la liste", authors_path, class: "btn btn-primary"

- if user_signed_in?
  - actions(@author)

- if @articles.any?
  = render @articles
- else
  %h3 Pas d'articles
