- title "Articles par : #{@author.short_name}"

- if user_signed_in?
  %ul.actions
    %li= link_to "Modifier", edit_author_path(@author)
    %li= link_to "Détruire", @author, :confirm => 'Etes-vous sûr?', :method => :delete

- if @articles.any?
  = render 'articles/articles', articles: @articles
- else
  %h3 Pas d'articles
