- title 'Mention légales'

%p Ce site est rédigé par :
%address
  %strong Centre Antipoison de Lyon
  %br
  162, Avenue Lacassagne
  %br
  69424 - Lyon CEDEX 03
  %br
  %abbr{title: "téléphone"}Tél :
  04.72.11.69.11

%p Il est hébergé sur #{link_to "Heroku.com", "http://www.heroku.com"}.

%p
  Le bulletin VIGItox est une revue enregistrée sur le numéro
  %abbr{title: "International Standard Serial Number"} issn
  2102-7196.
