-# encoding: utf-8
-form_for @revue do |f|
  = f.error_messages
  %p
    =f.label :numero, "Numéro"
    %br
    =f.text_field :numero
  %p
    =f.label :date_sortie, "Date de sortie"
    %br
    =f.date_select :date_sortie, :discard_day => true, :include_blank => true
  %p
    =f.label :pdf, "PDF"
    =f.file_field :pdf
  %p
    =f.submit "Enregistrer"
