- if revue.articles.any?
  - revue.articles.each do |article|
    = content_tag_for :div, article do
      = link_to [revue, article] do
        %h3
          %i.icon-book
          = article.full_title
