- if revue.articles.any?
  .panel.panel-primary
    .panel-body
      - revue.articles.each do |article|
        = link_to article do
          %h4
            %span.glyphicon.glyphicon-book
            = article.full_title

- else
  %p= "Aucun article pour le vigitox numéro #{revue.numero}"
