- title "Archive"

- if @revues.any?
  %table.table.table-condensed
    - @annees.in_groups_of(4, false) do |annees|
      %tr
        - annees.each do |annee|
          %td
            %strong= annee.strftime("%Y")
            - revues_by_year = @revue_annees[annee]
            - if revues_by_year.any?
              %ul.unstyled
                - revues_by_year.each do |revue|
                  %li
                    = l(revue.date_sortie, :format => :only_month)
                    = link_to revue.numero, revue
- else
  Aucune revue.
