- title "Archive"

- if @revues.any?
  %table.table.table-condensed
    - @annees.in_groups_of(4, false) do |annees|
      %tr
        - annees.each do |annee|
          %td
            %h3= annee.strftime("%Y")
            - revues_by_year = @revue_annees[annee]
            - if revues_by_year.any?
              %ul.list-unstyled
                - revues_by_year.each do |revue|
                  %li
                    %span.label.label-primary= l(revue.date_sortie, :format => :only_month)
                    = link_to "N° #{revue.numero}", revue,
                      title: revue_title_with_articles(revue),
                      data: {toggle: "tooltip", placement: "right", html: true}
- else
  Aucune revue.
