- title "Index VIGItox", false


%h2 Derniers numéros publiés

= will_paginate @revues, :previous_label => "<--", :next_label => "-->"

= render @revues

= will_paginate @revues, :previous_label => "<--", :next_label => "-->"
