= form_for @<%= singular_name %>, html: {class: "form-horizontal"} do |f|
  = render 'application/error_message', model: @<%= singular_name %>

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit, class: "btn btn-primary"
