// from http://colorschemedesigner.com/#3O31TsZ--w0w0 

// Primary Color:

$primary_color_a: #3265FF
$primary_color_b: #4C69BF
$primary_color_c: #1036A6
$primary_color_d: #658CFF
$primary_color_e: #8EABFF

// Secondary Color A:

$secondary_color_aa: #FFDB18
$secondary_color_ab: #BFAB3D
$secondary_color_ac: #A68D08
$secondary_color_ad: #FFE452
$secondary_color_ae: #FFEB80

// Secondary Color B:

$secondary_color_ba: #FF8718
$secondary_color_bb: #BF7C3D
$secondary_color_bc: #A65408
$secondary_color_bd: #FFA552
$secondary_color_be: #FFBD80

$global_background: #FFF

#footer
  border-top: 1px solid $secondary_color_bb
  background-color: $secondary_color_be
  background-image: -moz-linear-gradient(center top , $secondary_color_be, $secondary_color_bd)
  background-repeat: repeat-x
  text-shadow: 0px 1px 1px #fff
  left: 0
  right: 0
  width: 100%
  bottom: 0
  z-index: 1030
  position: fixed
  height: auto
  padding: 7px
  a
    color: $secondary_color_bc

#main
  color: black
  background-color: #ddd
  padding: 10px
  text-shadow: 0px 1px 1px #fff
  border: 1px solid rgba(0, 0, 0, 0.15)
  border-radius: 4px 4px 4px 4px

.clear
  clear: both
  height: 0
  overflow: hidden

acronym
  border-bottom: 1px dotted black

.pdf_link
  padding-top: 9px

#revue, #article
  margin-top: 0.5em
  border-bottom: 4px solid $secondary_color_be 

#article
  clear: both
  border-top: 4px solid $secondary_color_be 

.article
  border-bottom: 1px solid #ccc
  padding-bottom: 5px

#revue
  h2, h3
    float: left
    margin: 9px

span.title
  font-weight: bold
  font-size: 0.85em

#article table
  td
    border-bottom: 1px solid black

.contenu
  margin-top: 1em

#editorial
  blockquote
    p
      font-size: 1em
    small
      text-align: right

.redacteur
  margin-top: 0
  float: right

//lists

ul.inline, ul.links, ul.actions, ul.credits
  margin: 0
  padding: 0
  list-style: none
  li
    display: inline

ul.credits
  width: 100%
  margin: auto
  text-align: center
  font-size: 0.8em
  li
    &:after
      content: " | "
    &:last-child:after
      content: ""

ul.links
  margin-left: 0

ul.inline
  display: inline
  li
    &:last-child:after
      content: ""

ul.actions
  margin: 0
  padding: 0
  float: right
  li
    margin: 0
    &:last-child:after
      content: ""
    &:after
      content: " |"

ul.inline li
  &:after
    content: ", "

ul.actions
  margin-left: 0.5em
  padding-left: 0.5em
  li
    padding-left: 0 0.5em

ul, .well
  span.label
    line-height: 15px
    display: inline-block
    margin-bottom: 3px
    width: 100px
    text-align: right
    i
      float: left

.subnav-fixed
  border-color: #D5D5D5
  border-radius: 0 0 0 0
  border-width: 0 0 1px
  box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1)
  left: 0
  position: fixed !important
  right: 0
  top: 40px
  z-index: 1020
  height: 60px !important
  .back-to-revue
    visibility: hidden
  .article-title
    position: fixed
    left: 0
    right: 0
    top: 40px
    z-index: 1040
    visibility: visible

.subnav
  position: relative
  background-color: #EEEEEE
  background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%)
  background-repeat: repeat-x
  border: 1px solid #E5E5E5
  border-radius: 4px 4px 4px 4px
  height: 41px
  width: 100%

.back-to-revue
  visibility: visible
  position: absolute
  top: 5px
  left: 370px
  text-align: center
  a
    background-color: #FFFFFF
    border: 1px solid #DDDDDD
    border-radius: 15px 15px 15px 15px
    display: inline-block
    padding: 5px 14px
    &:hover
      background-color: #F5F5F5
      text-decoration: none

.article-title
  width: 80%
  margin: auto
  text-align: center
  visibility: hidden

.pager
  margin: 5px
  margin-bottom: 0

td
  vertical-align: top

.navbar .btn
  margin-top: 0
