// from http://colorschemedesigner.com/#3O31TsZ--w0w0 

// Primary Color:

$primary_color_a: #3265FF
$primary_color_b: #4C69BF
$primary_color_c: #1036A6
$primary_color_d: #658CFF
$primary_color_e: #8EABFF

// Secondary Color A:

$secondary_color_aa: #FFDB18
$secondary_color_ab: #BFAB3D
$secondary_color_ac: #A68D08
$secondary_color_ad: #FFE452
$secondary_color_ae: #FFEB80

// Secondary Color B:

$secondary_color_ba: #FF8718
$secondary_color_bb: #BF7C3D
$secondary_color_bc: #A65408
$secondary_color_bd: #FFA552
$secondary_color_be: #FFBD80

$global_background: #FFF

body
  background-color: $secondary_color_be

#footer
  border-top: 1px solid $secondary_color_bb
  background-color: $secondary_color_be
  text-shadow: 0px 1px 1px #fff
  padding: 7px
  a
    color: $secondary_color_bc

.pdf_link
  vertical-align: top

#page_header
  text-shadow: 0px 1px 1px #fff

#revue, #article
  margin-top: 0.5em
  border-bottom: 4px solid $secondary_color_be
  text-shadow: 0px 1px 1px #fff

#article
  p
    font-family: 'Open Sans', sans-serif
  clear: both
  border-top: 4px solid $secondary_color_be

.article
  border-bottom: 1px solid #ccc
  padding-bottom: 5px

#revue
  h2, h3
    float: left
    margin: 9px

span.title
  font-weight: bold
  font-size: 0.85em

#article table
  td
    border-bottom: 1px solid black

.contenu
  margin-top: 1em

#editorial
  blockquote
    p
      font-size: 1em
    small
      text-align: right

.redacteur
  margin-top: 0
  float: right

//lists

ul.inline, ul.links, ul.actions, ul.credits
  margin: 0
  padding: 0
  list-style: none
  li
    display: inline

ul.credits
  width: 100%
  margin: auto
  text-align: center
  font-size: 0.8em
  li
    &:after
      content: " | "
    &:last-child:after
      content: ""

ul.links
  margin-left: 0

ul.inline
  display: inline
  li
    &:last-child:after
      content: ""

ul.actions
  margin: 0
  padding: 0
  float: right
  li
    margin: 0
    &:last-child:after
      content: ""
    &:after
      content: " |"

ul.inline li
  &:after
    content: ", "

ul.actions
  margin-left: 0.5em
  padding-left: 0.5em
  li
    padding-left: 0 0.5em

ul, .well
  span.label
    line-height: 15px
    display: inline-block
    margin-bottom: 3px
    width: 100px
    text-align: right
    i
      float: left

.subnav.affix/*TODO: fix top position for mobile */
  top: 40px
  left: 0
  right: 0
  border-color: #D5D5D5
  border-radius: 0 0 0 0
  border-width: 0 0 1px
  box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1)
  height: 60px !important
  .back-to-revue
    visibility: hidden
  .article-title
    position: fixed
    left: 0
    right: 0
    top: 50px
    z-index: 1040
    visibility: visible
  .pager
    margin: 12px 12px 0

.subnav
  background-color: #EEEEEE
  background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%)
  background-repeat: repeat-x
  border: 1px solid #E5E5E5
  border-radius: 4px 4px 4px 4px
  height: 41px

.subnav.affix-top
  position: relative

.back-to-revue
  position: absolute
  top: 5px
  left: 460px
  visibility: visible
  text-align: center
  a
    background-color: #FFFFFF
    border: 1px solid #DDDDDD
    border-radius: 15px 15px 15px 15px
    display: inline-block
    padding: 5px 14px
    &:hover
      background-color: #F5F5F5
      text-decoration: none
.pager
  margin: 5px 5px 0

.article-title
  width: 80%
  margin: auto
  text-align: center
  visibility: hidden

td
  vertical-align: top

.tooltip-inner
  text-shadow: none
  text-align: left
  max-width: 300px

.select2-container-multi .select2-choices .select2-search-field input
  padding: 0
  padding-left: 12px

.field_with_errors
  @extend .has-error !optional
