= simple_form_for resource, html: {class: 'form-inline'} do |f|
  = f.error_notification if f.error_notification
  .input-append
    = f.text_field :name, placeholder: "libéllé"
    = button_tag "Enregistrer", type: :submit, class: "btn btn-success", disable_with: "Enregistrer"
