= form_tag search_path, method: :get, class: "navbar-form navbar-right", role: "search" do
  .form-group
    = text_field_tag :query, {}, {type: "search", placeholder: "Rechercher",
      class: "form-control", value: (params[:query] if params[:query])}
  = button_tag type: "submit", name: nil, class: "btn btn-default", id: "search_button" do
    %span.glyphicon.glyphicon-search
